.cursor {
  background-image: url("../../../public/images/ballon_sans_fond_petit.png");
  background-color: black;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cursor.hoveringLink {
  animation: spin 1s linear infinite;
}
